
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}
section {
    height:  500px;
    background-color: white ;
}

.hero {
    background: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: #1c1d25;
    margin-top: 30px;
    color: white;
    text-align: center;
    padding: 70px;

}
nav {
    display: flex;
    justify-content: space-between;
    /*background-color: #262731;*/
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

ul.show {
    display: block;
}

li {

    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p{
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
}
#myIntro{
    font-size: 20px ;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color:coral ;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding-top: 5px ;
    margin-top: 20px;
    
}

.button:hover {
    background-color: #ef744b;  
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}
.socials{
    padding-bottom: 200px;
}

.logo{
    height: 70px; 
    margin: 7px;
}

.social{
    margin: 20px;
    
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 70px;

}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px;
}


.headshot {
    width: 400px;
    border-radius: 200px;
    border: 4px solid coral;
    padding: 3px;
    
}
.headshot-container {
    display: flex;
    align-items: center;
    padding-bottom: 75px;
    padding: 100px;

}

.project-card {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(160, 160, 160);
    

}

.project-container {
    display: flex;
    justify-content: space-around;
    
    
}

@media only screen and (max-width: 1000px){
    .project-container{
        display: flex-wrap;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 20px;
    width: 200px;
    border-radius: 100px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: coral;
}

.hamburger {
display: none;
}

@media only screen and (max-width: 1000px){
    .hamburger {
        display: block;
        border: 0;
        background-color:  transparent;
        color: white ;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        margin: 0px;
        background-color:#2d2f3b ;
        
    }

    nav {
       display: flex;
       flex-direction: column-reverse ;
       background-color:#2d2f3b ;

    }
    .logo{
        display: none;
    }


    
}

